.about-page {
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.about-page h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.about-page h3 {
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}

.about-page ul {
  margin-bottom: 1.5rem;
  padding-left: 1.2rem;
}

.about-page p {
  margin-bottom: 1.2rem;
  line-height: 1.6;
}
