h2.quiz-title {
  text-align: center;
  width: 100%;
}
.quiz-page {
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-text);
  background: var(--color-surface);
}

.question-card {
  margin: 0 auto;
}

@media (max-width: 400px) {
  h2.quiz-title {
    font-size: 1.25rem;
  }
}
